@media (max-width:768px){
    .grid-noticias{
        grid-template-columns: 1fr !important;
    }
}
@media ((min-width:768px) and (max-width:1024px)){
    .grid-noticias{
        grid-template-columns: 1fr 1fr !important;
    }
}