@media screen  and (max-width:600px){
    .asideCard{
        width: 95%;
        display: flex;
        position: relative;
        margin: 0 auto;
        
        
        gap: 1rem;
    }
    
}