.cabecalho {
    min-width: 100%;
    height: 220px;
    max-width: max-content;
    object-fit: contain;
}
.cabecalho img{
    height: 220px;
    object-fit:cover ;
}
.header{
    background-color: #CA322D;
    height: 56px;
}
.textoCabecalho{
    position: relative;
    bottom:1rem ;
    
    
}
.pesquisar{
    bottom: 1rem;
    position: relative;
}

@media screen and (max-width:600px){
    .cabecalho img {
        height: 150px;
        object-fit: cover;
    }
    .textoCabecalho{
        font-size: 1.5rem;
        bottom:0 ;
        height: 30rem;
    }
}
@media screen and (max-width:1024px){
    /* .cabecalho img {
        height: 120px;
        object-fit: cover;
    } */
    .textoCabecalho{
        font-size: 1.5rem;
        bottom:0 ;
        height: 30rem;
    }
    
}