.swiper-pagination {
  position: relative !important;
  margin-top: 3rem;
}

/* Define a largura máxima do contêiner do carrossel */
.embla {
  position: relative;
  overflow: hidden;
  max-width: 100%; /* Certifique-se de que não exceda o contêiner pai */
  margin: 0 auto; /* Centraliza o carrossel se necessário */
}

/* Define a largura do contêiner interno do carrossel */
.embla-container {
  display: flex;
  gap: 2rem;
  /* Certifique-se de que a largura total não exceda o contêiner */
}

/* Define a largura dos slides */
.embla-container > a {
  @media(min-width:1024px){
    flex: 0 0 calc(33% - 1rem);
  }
}

@media(max-width:768px){
  .embla-container a{
    flex: 0 0 100% !important;
  }
}
@media((min-width:768px) and (max-width:1024px)){
  .embla-container a{
    flex: 0 0 50% !important;
  }
}